$background-color: #e5e5e5;
$primary-color: #1089ff;
$secondary-color: #23374d;
$text-color: #fff;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: Helvetica, sans-serif;
}

.addBtn {
  margin: 25px;
  width: 220px;
  height: 50px;
  background-color: white;
  color: #23374d;
  border: 2px solid $primary-color;
  font-size: 1.3rem;
  border-radius: 5px;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
/*
-------------------Nav Styling
*/
nav {
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-color;
  color: $text-color;
  text-align: center;

  h2 {
    text-transform: uppercase;
    margin-left: 25px;
  }

  ul {
    display: flex;
    list-style: none;
    margin-right: 25px;

    li {
      margin: 0 10px;
    }
  }
}

/* 
-------------------Form Styling
*/

form {
  display: flex;
  flex-direction: column;
  max-width: 30%;
  margin: 25px auto;
  animation: bounceIn 1s;

  input {
    height: 35px;
    border: 2px solid lighten($color: $primary-color, $amount: 10);
    border-radius: 4px;
    margin: 4px 0 20px 0;
    padding: 0 15px;
  }

  button {
    width: 180px;
    height: 40px;
    align-self: center;
    border-radius: 4px;
    margin: 4px 0 8px 0;
    padding: 0 15px;
    border: none;
    background-color: $primary-color;
    font-size: 1.2rem;
    color: $text-color;

    &.cancelBtn {
      background-color: $secondary-color;
    }
  }
}

/*
-------------------List Incomes Styling
*/

.list-incomes {
  max-width: 800px;
  width: 75%;

  li {
    display: flex;
    background-color: lighten($color: $secondary-color, $amount: 18);
    padding: 20px;
    margin-top: 10px;
    border-radius: 6px;
    color: $text-color;
    font-size: 1.2rem;
    list-style: none;
    justify-content: space-between;
    font-weight: 600;

    .right-side {
      display: flex;

      p {
        margin: 0 15px;
      }

      button {
        margin: 0 5px;
        width: 24px;
        height: 24px;
        background-color: $primary-color;
        border-radius: 3px;
        border: none;
        color: $text-color;
      }
    }
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
