$background-color: #ffffff;
$primary-color: #0b132b;
$secondary-color: darken(#5bc0be, 9);
$text-color: #fff;
$break-md: 768px;
$break-xl: 1100px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: Helvetica, sans-serif;
}

a {
  text-decoration: none;

  &:visited {
    color: $text-color;
  }
}

.text-secondary {
  color: $secondary-color;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: nowrap;

  button.totalBtn,
  button.addBtn {
    margin: 25px;
    width: 220px;
    height: 50px;
    font-size: 1.3rem;
    border-radius: 5px;
    justify-content: center;
    align-self: center;

    @media screen and (max-width: $break-md) {
      font-size: 1rem;
      width: 150px;
    }
  }

  .addBtn {
    background-color: white;
    color: #23374d;
    border: 2px solid $primary-color;
  }

  .totalBtn {
    background-color: $primary-color;
    color: $text-color;
    border: none;
  }
}
/*
-------------------Nav Styling
*/
nav {
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-color;
  color: $text-color;
  text-align: center;

  h2 {
    text-transform: uppercase;
    margin-left: 25px;

    @media screen and (min-width: 1200px) {
      margin-left: 200px;
    }
  }

  ul {
    display: flex;
    list-style: none;
    margin-right: 25px;

    a {
      margin: 0 10px;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 200px;
    }
  }
  @media screen and (max-width: $break-md) {
    font-size: 0.9rem;
  }
}

/* 
-------------------Form Styling
*/

form {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 25px auto;
  animation: easeIn 1s;

  input {
    height: 35px;
    border: 2px solid lighten($color: $primary-color, $amount: 10);
    border-radius: 4px;
    margin: 4px 0 20px 0;
    padding: 0 15px;
  }

  button {
    width: 180px;
    height: 40px;
    align-self: center;
    border-radius: 4px;
    margin: 4px 0 8px 0;
    padding: 0 15px;
    border: none;
    background-color: $primary-color;
    font-size: 1.2rem;
    color: $text-color;

    &.cancelBtn {
      background-color: $secondary-color;
    }
  }
}

/*
-------------------List Incomes Styling
*/

.list-incomes {
  max-width: 800px;
  width: 75%;

  li {
    display: flex;
    background-color: lighten($color: $secondary-color, $amount: 18);
    padding: 20px;
    margin-top: 10px;
    border-radius: 6px;
    color: $text-color;
    font-size: 1.2rem;
    list-style: none;
    justify-content: space-between;
    font-weight: 600;

    .right-side {
      display: flex;

      p {
        margin: 0 15px;
      }

      button {
        margin: 0 5px;
        width: 24px;
        height: 24px;
        background-color: $primary-color;
        border-radius: 3px;
        border: none;
        color: $text-color;
      }
    }
  }
}

//--------------------- About
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;

  h2 {
    margin: 10px 0;
  }

  h3 {
    margin: 10px 0;
  }

  span {
    font-size: 1.3rem;
    margin-bottom: 20px;
  }
}

.test {
  animation: easeOut 1s;
}

@keyframes easeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

//
@keyframes easeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
