* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: Helvetica, sans-serif;
}

a {
  text-decoration: none;
}
a:visited {
  color: #fff;
}

.text-secondary {
  color: #42aba9;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: nowrap;
}
.container button.totalBtn,
.container button.addBtn {
  margin: 25px;
  width: 220px;
  height: 50px;
  font-size: 1.3rem;
  border-radius: 5px;
  justify-content: center;
  align-self: center;
}
@media screen and (max-width: 768px) {
  .container button.totalBtn,
.container button.addBtn {
    font-size: 1rem;
    width: 150px;
  }
}
.container .addBtn {
  background-color: white;
  color: #23374d;
  border: 2px solid #0b132b;
}
.container .totalBtn {
  background-color: #0b132b;
  color: #fff;
  border: none;
}

/*
-------------------Nav Styling
*/
nav {
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0b132b;
  color: #fff;
  text-align: center;
}
nav h2 {
  text-transform: uppercase;
  margin-left: 25px;
}
@media screen and (min-width: 1200px) {
  nav h2 {
    margin-left: 200px;
  }
}
nav ul {
  display: flex;
  list-style: none;
  margin-right: 25px;
}
nav ul a {
  margin: 0 10px;
}
@media screen and (min-width: 1200px) {
  nav ul {
    margin-right: 200px;
  }
}
@media screen and (max-width: 768px) {
  nav {
    font-size: 0.9rem;
  }
}

/* 
-------------------Form Styling
*/
form {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 25px auto;
  animation: easeIn 1s;
}
form input {
  height: 35px;
  border: 2px solid #152554;
  border-radius: 4px;
  margin: 4px 0 20px 0;
  padding: 0 15px;
}
form button {
  width: 180px;
  height: 40px;
  align-self: center;
  border-radius: 4px;
  margin: 4px 0 8px 0;
  padding: 0 15px;
  border: none;
  background-color: #0b132b;
  font-size: 1.2rem;
  color: #fff;
}
form button.cancelBtn {
  background-color: #42aba9;
}

/*
-------------------List Incomes Styling
*/
.list-incomes {
  max-width: 800px;
  width: 75%;
}
.list-incomes li {
  display: flex;
  background-color: #7ccdcb;
  padding: 20px;
  margin-top: 10px;
  border-radius: 6px;
  color: #fff;
  font-size: 1.2rem;
  list-style: none;
  justify-content: space-between;
  font-weight: 600;
}
.list-incomes li .right-side {
  display: flex;
}
.list-incomes li .right-side p {
  margin: 0 15px;
}
.list-incomes li .right-side button {
  margin: 0 5px;
  width: 24px;
  height: 24px;
  background-color: #0b132b;
  border-radius: 3px;
  border: none;
  color: #fff;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
.about h2 {
  margin: 10px 0;
}
.about h3 {
  margin: 10px 0;
}
.about span {
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.test {
  animation: easeOut 1s;
}

@keyframes easeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes easeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

/*# sourceMappingURL=App.css.map */
